# Ignore node_modules directory
node_modules/

# Ignore build output directories
dist/
build/

# Ignore environment variable files
.env
.env.local

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore macOS system files
.DS_Store

# Ignore IDE specific files
.vscode/
.idea/

p5/resources/